*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.swipe_page{
position: fixed;
width: 100vw;
height: 900px;
background-color: #1f0101;
background-color: #04011f ;

top: 0%;
left: 110%;
transition: .7s ease;
/* for bg black transition */
transition: 2s ease;
transition-property: left;
}

.swipe{
    left: 0%;
}

.info-sects{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 850px;
    height: 100vh;
    /* width: 100px; */
}

.main{
    color: orange;
} 

.footer{
    position: static;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 850px;
    height: 80px;
}

::-webkit-scrollbar{
    width: 0;
}

body{
    margin:27px 0 0 0;
    background-color: rgba(16, 15, 15, 0.96);
    background-color: black;
    height: 850px;
    height: 200vh;
}
/* nav bar */
nav{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
    /* --------------------------------------------------------------------------------------------- */
    /* previous white border */
    /* border: rgba(95, 84, 84, 0.179) 1px solid; */
    /* --------------------------------------------------------------------------------------------- */
    /* light background */
    background-color: rgba(255,255,255,0.1);
    /* -------------------------------------------------------------------------------------------- */
    /* dark background */
    /* background-color: rgba(95, 84, 84, 0.056); */
    /* -------------------------------------------------------------------------------------------- */
    box-shadow:inset 0px -6px 5px 0px rgba(0, 0, 0, .5) ,20px 20px 50px rgba(0, 0, 0, .5) ;
    height: 70px;
    position:fixed;
    
}

/* .hey{
    width: 90px;
    height: 200px;
    color: orange;
} */

.nav{
    display: flex;
    justify-content: center;
}

.logo{
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    color: orange ;
    padding: 0 0 0 70px;
   
}

.bi-moon-stars-fill{
    position: relative;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    opacity: 0;
    
}

.bi-moon-stars-fill:hover{
    animation:glow 1s forwards;
}

.bi-moon-stars{
    position: absolute;
}

.info{
    padding: 0 70px 0 0;
    display: flex;
    /* justify-content: space-around; */
    font-family: 'Montserrat', sans-serif;
    /* black text tone */
    /* color: rgb(17, 16, 16);
    text-shadow: 0px .1px .02px white; */

    /* grey text tone */
    /* color: #666; */
    color: grey;
    text-shadow: 0px 4px 1px rgba(0,0,0,.5);
    
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -1px;
    width: 90px;
    height: 70px;
    cursor:pointer;
    user-select: none;
}

.one{
    border-right: rgb(14, 13, 13) solid;
    border-left: rgb(31, 29, 29) solid;
}

.two{
    border-right: rgb(14, 13, 13) solid;
    border-left: rgb(31, 29, 29) solid;
}

.three{
    border-right: rgb(31, 29, 13) solid;
    border-left: rgb(31, 29, 29) solid;
}

.clicked{
    box-shadow:inset 0px 0px 2px 2px rgba(0, 0, 0, 0.604);
    /* border-left: black solid; */
    background-color: rgba(16, 15, 15, 0.96);
    color: orange ;
    /* color: white; */
    text-shadow: 0 0 1em rgba(248, 100, 2, 20),
    0 0 10px rgb(248, 100, 2),
        0 0 20px rgb(248, 100, 2),
        0 0 40px rgb(248, 100, 2),
         0 0 80px rgb(248, 100, 2),
          0 0 100px rgb(248, 100, 2)
}

@keyframes glow {
    to{
        opacity: 1;
    }
}
/* main slides */
/* first slide */
.first{
    letter-spacing: 13px;
    font-family: arial;
    font-size: 100px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004) ;
    line-height: .7em;
    
}

.isOff{
    animation: unGlowMain 2s linear forwards;
}

.isOn{
    animation: glowMain 2s linear forwards;
}

.keepOn{
    color:rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(248, 100, 2),
    0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 80px rgb(248, 100, 2),
      0 0 100px rgb(248, 100, 2)
     ;
}

.KeepOff{
    color:rgba(118, 105, 105, 0.515);
}

@keyframes glowMain {
    0%{
        color:rgba(118, 105, 105, 0.515);
        text-shadow: none;
    }
    100%{
        color:rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(248, 100, 2),
        0 0 20px rgb(248, 100, 2),
        0 0 40px rgb(248, 100, 2),
         0 0 80px rgb(248, 100, 2),
          0 0 100px rgb(248, 100, 2)
         ;
    }
}

@keyframes unGlowMain {
    0%{
        color:rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(248, 100, 2),
        0 0 20px rgb(248, 100, 2),
        0 0 40px rgb(248, 100, 2),
         0 0 80px rgb(248, 100, 2),
          0 0 100px rgb(248, 100, 2)
         ;
    }
    100%{
        color:rgba(118, 105, 105, 0.515);
        text-shadow: none;
    }

}

/* second slide */
.skills{
    padding-top: 110px;
}
.second{
    width: 450px;
    height: 450px;
    border: rgba(118, 105, 105, 0.515) solid 7px ;
}
/* third slide */

.grid {
    display: grid;
    grid-template-areas: 
    'one one'
    'two three';
    height: 650px;
    row-gap: 20px;
    column-gap: 15px;
}
.projects{
    /* align-items: normal;
    justify-content: normal;
    padding-top: 150px;
    padding-left: 420px; */
    padding-top: 110px;
}
.third{

    border:honeydew solid 7px;
    border:rgba(118, 105, 105, 0.515) solid 7px ;
    /* box-shadow:inset 0 0 10px rgb(248, 100, 2),
    inset 0 0 20px rgb(248, 100, 2),
    inset 0 0 40px rgb(248, 100, 2),
    0 0 20px rgb(248, 100, 2),
    0 0 40px rgb(248, 100, 2),
     0 0 50px rgb(248, 100, 2) */
    /* border-radius: 40px */
}
.p1{
    grid-area: one;
    width: 700px;
}
.p2 {
    grid-area: two;

}
.p3 {
    grid-area: three;
} 

.p1:hover, .p2:hover, .p3:hover, .second:hover{
    animation: anotherGlow .3s ease forwards;
}
/* frame animations */
@keyframes anotherGlow {
    0%{
        border:rgba(118, 105, 105, 0.515) solid 7px ;
        text-shadow: none;
    }   
    100%{
        border:honeydew solid 7px;
        box-shadow:inset 0 0 10px rgb(248, 100, 2),
        inset 0 0 20px rgb(248, 100, 2),
        inset 0 0 40px rgb(248, 100, 2),
        0 0 20px rgb(248, 100, 2),
        0 0 40px rgb(248, 100, 2),
         0 0 50px rgb(248, 100, 2)
    } 
}
/* scoll bar */
.scroll-path{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top:330px;
    right:200px;
    width: 10px;
    height: 200px;
    /* add logic to switch index to zero when the about me page swipe goes into effect */
    z-index: 1;
}

.scrollerbehind{
    z-index: -1;
}

.scroll-btn{
    height: 12px;
    width: 4px;
    background-color: grey;
    border-radius: 4px;
    cursor: pointer;
}

.active{
    background-color: orange;
    box-shadow: 0 0 .4em .2em rgb(248, 100, 2);
}

.bi-instagram{
    fill: honeydew;
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    
}

.bi-instagram2{
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    opacity: 0;
}

.bi-linkedin{
    fill: honeydew;
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    z-index: 1;
}

.bi-linkedin2{
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    opacity: 0;
    z-index: 2;
}
.bi-github{
    fill:honeydew;
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));

    /* z-index: 1; */
}

.bi-github2{
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    opacity: 0;
    /* z-index: ; */
}

.bi-discord{
    fill: honeydew;
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));

    /* z-index: 1; */
}

.bi-discord2{
    position:absolute;
    filter: drop-shadow(0 0 .4em rgb(248, 100, 2));
    opacity: 0;
    /* z-index: ; */
}

.bi-instagram2:hover, .bi-linkedin2:hover, .bi-github2:hover, .bi-discord2:hover{
    cursor: pointer;
    animation: glow 1s forwards;
}

.footer div{
    padding-bottom: 39px;
}

/* .bi-linkedin2:hover{
    cursor: pointer;
    animation: glow 1s forwards;
} */